<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Bookmotion Kids" />
    <title>Bookmotion Kids</title>
  </head>
  <body>
    <div>
      <p>&nbsp;</p>
      <h4>{% trans 'Desconectado' %}</h4>
      <p><a href="{% url 'login' %}">{% trans 'Ingresar de nuevo' %}</a></p>
    </div>
  </body>
</html>
