{% extends "base2.html" %} {% load static %} {% block content %}
<div class="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small">
      <li class="breadcrumb-item">
        <a href="{% url 'common:home' %}">Principal</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'group:home' %}">Grupos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Agregar</li>
    </ol>
  </nav>

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="logo-font mb-4">Agregar Grupo</h2>
        <hr />
      </div>
    </div>

    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <div>&nbsp;</div>
    <div class="row">
      <div class="col-12 col-md-6">
        <form
          method="POST"
          action="{% url 'group:add' %}"
          class="form mb-2"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% for field in form %}
          <p>{{ field.label_tag }} {{ field }}</p>
          {% endfor %}
          <div>&nbsp;</div>
          <div>
            <a
              class="btn btn-outline-dark rounded-0"
              href="{% url 'group:home' %}"
              >Cancelar</a
            >
            <button class="btn btn-outline-success rounded-0" type="submit">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
