{% extends "base2.html" %} {% load i18n static %} {% block content %}
<div class="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small">
      <li class="breadcrumb-item">
        <a href="{% url 'common:home' %}">{% trans "Principal" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% trans "Terapistas" %}
      </li>
    </ol>
  </nav>

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="logo-font mb-4">
          {% trans "Administración de Terapistas" %}
        </h2>
        <h5 class="text-muted">{% trans "Listado" %}</h5>
        <hr />
      </div>
    </div>

    <div class="row">
      {% for c in therapist %}
      <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
        <a href="{% url 'therapist:edit' c.id %}">
          <div class="card border-0">
            <iframe
              width="100%"
              height="140"
              src="{{ c.url }}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="card-video-title">{{ c.title }}</div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>

    <br />

    <div class="row">
      <div class="col-12 col-md-12">
        <div class="col-12 col-md-12">
          <a href="{% url 'therapist:add' %}"
            ><button class="btn btn-outline-success rounded-0" type="submit">
              {% trans "Agregar" %}
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
