{% extends "base2.html" %} {% load static %} {% block content %}
<div class="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small">
      <li class="breadcrumb-item">
        <a href="{% url 'common:home' %}">Principal</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'student:home' %}">Estudiante</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Reporte</li>
    </ol>
  </nav>

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="logo-font mb-4">Reporte del estudiante {{ student.name }} ({{ student.diagnosis }})</h2>
        <hr />
      </div>
    </div>

    <div class="container-fluid mb-5">
      <div class="row">
        <div class="col-11 col-md-11">
          <div class="row report-header">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">Fecha</div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">Contenido</div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">Quien aplico</div>
            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1">Emoción</div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">Notas</div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">Observaciones</div>
          </div>

          {% for s in sessions %}
          <div class="row report-row">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
              {{ s.created }}
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
              {{ s.content }}
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
              {{ s.user.first_name }} {{ s.user.last_name }}
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1 {{ s.emotion }}">
              {{ s.emotion }}
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">{{ s.notes }}</div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
              {{ s.observations }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12">
        <div class="col-12 col-md-12">
          <a
            class="btn btn-outline-dark rounded-0"
            href="{% url 'student:edit' student.id %}"
            >Regresar</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
