{% extends "base2.html" %} {% load i18n static %} {% block content %}
<div class="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white text-dark small">
      <li class="breadcrumb-item">
        <a href="{% url 'common:home' %}">{% trans "Principal" %}</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'teacher:home' %}">{% trans "Maestros" %}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% trans "Editar" %}
      </li>
    </ol>
  </nav>

  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="logo-font mb-4">
          {% trans "Administración de Maestros" %}
        </h2>
        <h5 class="text-muted">{% trans "Editar" %}</h5>
        <hr />
      </div>
    </div>

    <div>&nbsp;</div>
    <div class="row">
      <div class="col-6 col-md-6">
        <form
          method="POST"
          action="{% url 'teacher:edit' teacher.id %}"
          class="form mb-2"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% for field in form %}
          <p>{{ field.label_tag }} {{ field }}</p>
          {% endfor %}
          <div>&nbsp;</div>
          <div>
            <a
              class="btn btn-outline-dark rounded-0"
              href="{% url 'teacher:home' %}"
              >{% trans "Cancelar" %}</a
            >
            <a
              class="btn btn-outline-danger rounded-0"
              href="{% url 'teacher:delete' teacher.id %}"
              >{% trans "Borrar" %}</a
            >
            <button class="btn btn-outline-success rounded-0" type="submit">
              {% trans "Actualizar" %}
            </button>
          </div>
        </form>
      </div>
      <div id="youtube" class="col-4 col-md-4"></div>
    </div>
  </div>
  {% endblock %} {% block scripts %}
  <script>
    $(document).ready(function ($) {
      $("#id_url").on("change", function () {
        if ($(this).val() === "") {
          $("#youtube").hide();
        } else {
          var ifrm = document.createElement("iframe");
          ifrm.src = $(this).val();
          ifrm.width = "560";
          ifrm.height = "315";
          ifrm.frameborder = "0";
          ifrm.scrolling = "no";
          $("#youtube").html(ifrm).show();
        }
      });

      $("#id_url").change();
    });
  </script>
  {% endblock %}
</div>
