{% extends "base.html" %} {% load i18n static %} {% block content %}
<!--Contenedor principal main con 5 secciones-->
<main>
  <article>
    <section>
      <div id="seccionUno" class="container">
        <div>
          <h2>{% trans "Nuestro proyecto se llama Bookmotion Kids y consiste en:" %}</h2>
          <h3>{% trans "Cuentos cortos animados." %}</h3>
          <ul>
            <li>
              {% trans "Primero diseñando los personajes a mano alzada y después programados en Scratch." %}
            </li>
          </ul>

          <h3>{% trans "Tablero" %}</h3>
          <ul>
            <li>
              {% trans "El prototipo es un tablero, el cual se construyó con botones de colores tipo arcade. Los mismos se iluminan de acuerdo a la selección que hacen los alumnos según la emoción con la que se identifican después de ver el cuento animado." %}
            </li>
            <li>
              {% trans "Este tablero manda por wifi la información del color que seleccionó a un servicio en internet que registra el resultado, vinculando así al alumno con el video y la emoción elegida." %}
            </li>
          </ul>

          <h3>{% trans "Página web." %}</h3>
          <ul>
            <li>
              {% trans "La página web es donde se guarda el expediente del alumno con el fin de conocer más al niño y sus emociones." %}
            </li>
          </ul>

          <p>
            {% trans "Nuestro objetivo es que los niños más pequeños identifiquen sus emociones básicas de forma dinámica, además de que esto sea una herramienta que beneficie a los alumnos con necesidades educativas especiales en nuestra escuela." %}
          </p>
        </div>
        <div id="foto">
          <img
            src="{% static 'images/iste2021.jpg' %}"
            alt="logotipo"
            width="600px"
          />
        </div>
      </div>
    </section>
  </article>
</main>
{% endblock %} {% block scripts %} {% endblock %}
