{% extends "base.html" %} {% load i18n static %} {% block content %}
<!--Contenedor principal main con 5 secciones-->
<main>
  <article>
    <!-- Primera seccion llevara 2 columnas, una para el titulo principal h1, sus 3 parrafos, y la siguiente para el formulario-->
    <section>
      <div id="intro" class="container">
        <div id="descripcion">
          <h2>{% trans "¿Qué es inteligencia emocional?" %}</h2>
          <p>
            {% trans "Para comprender mejor este concepto, debemos hacer referencia a la definición de la palabra “inteligencia” (Deriva del latín intellegere)  que significa comprender o percibir, de modo que diversos autores se han interesado en explicar y describir la inteligencia emocional, como “la capacidad de reconocer nuestros propios sentimientos y los de los demás, de motivarnos y de manejar adecuadamente las relaciones”  propuesta del Psicólogo y escritor Goleman, D (2010, p 90) pionero de este tema. " %}
          </p>
          <p>
            {% trans "Por otra parte" %}
            <a
              href="http://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S2007-28722015000200006"
              target="_blank"
              >Rafael Bisquerra</a
            >
            {% trans "(2009 en Fragoso, 2015) presenta una serie de competencias emocionales, como son: La conciencia, regulación, autonomía emocional; así como la competencia social y competencias para la vida y el bienestar." %}
          </p>
          <p>
            {% trans "Este último" %}
            <a
              href="https://www.redalyc.org/jatsRepo/3761/376157736006/html/index.html"
              target="_blank"
              >{% trans "autor" %}</a
            >
            {% trans "menciona que la inteligencia emocional consiste en la habilidad de manejar los sentimientos y emociones, discriminar entre ellos y utilizar estos conocimientos para dirigir los propios pensamientos y acciones (Bisquerra, 2000 en Oliveros, 2018)." %}
          </p>

          <h2>{% trans "¿Por qué es importante?" %}</h2>
          <p>
            {% trans "Saber utilizar correctamente las emociones  ayuda a la adaptación, motivación, e inserción social; es por ello, que se considera importante aplicar esta estrategia en las etapas tempranas como el preescolar, así el niño podría identificar, reconocer y regular sus emociones, tanto en el ámbito escolar como en el contexto social. Este se enfrentará a diversas circunstancias que pondrán a prueba su adaptación y tolerancia a la frustración, por consiguiente sí cuenta con las herramientas necesarias podrá hacer frente a estas situaciones que contribuirán a su crecimiento." %}
          </p>
        </div>
      </div>
    </section>

    <!--Seccion 2 En esta seccion se dividen en 2 columnas una para un subtitulo h2 y un parrafo; y la siguente columna para el video-->
    <section>
      <div id="seccionDos" class="container">
        <div>
          <h2>{% trans "Sobre nosotros" %}</h2>
          <p>
            {% trans "Como alumnos de preparatoria, estamos interesados en realizar un proyecto  donde ayudemos a desarrollar las habilidades básicas de la inteligencia emocional, mostrando una situación de aprendizaje a través de diversas narraciones dirigidas a la sección de preescolar, esto con el objetivo de  identificar las diferentes emociones que están experimentando por medio de  la historia del cuento" %}
          </p>
          <p>
            {% trans "Tuvimos el apoyo del departamento psicopedagógico con un taller de inteligencia emocional, en donde pudimos adquirir de forma vivencial las herramientas de alfabetización, conciencia y expresión emocional a través del cuerpo y la atención plena; de la misma forma, recibimos el apoyo por parte del área de tecnología de nuestro colegio  desarrollar la programación y mecanismo del prototipo." %}
          </p>
          <a href="{% url 'common:description' %}" >{% trans "Descripción prototipo" %}</a>
        </div>

        <video controls>
          <source src="{% static 'videos/marketing.mp4' %}" type="video/mp4"></source>
          <p>{% trans "Su navegador no soporta videos" %}</p>
        </video>
      </div>
    </section>

    <!--Seccion 3, se divide en 4 secciones (div) para poner en cada columna imagenes de los integrantes del equipo -->
    <section>
      <h2>{% trans "Conoce a los creadores del proyecto" %}</h2>
      <div id="seccionTres" class="container">
        <div class="card">
          <img
            src="{% static 'images/paulinaa.jpg' %}"
            alt="Paulina Gonzalez A."
          />
          <h4>Paulina Gonzalez A.</h4>
          <p>{% trans "Creadora del cuento" %}</p>
        </div>

        <div class="card">
          <img
            src="{% static 'images/ornelass.jpg' %}"
            alt="Salvador Ornelas P."
          />
          <h4>Salvador Ornelas P.</h4>
          <p>{% trans "Maker y programador" %}</p>
        </div>

        <div class="card">
          <img
            src="{% static 'images/camilaa.jpg' %}"
            alt="Camila Lizalde M."
          />
          <h4>Camila Lizalde M.</h4>
          <p>{% trans "Diseñadora de la página web" %}</p>
        </div>

        <div class="card">
          <img
            src="{% static 'images/veroo.jpg' %}"
            alt="Veronica Vargas N."
          />
          <h4>Veronica Vargas N.</h4>
          <p>{% trans "Creadora del cuento" %}</p>
        </div>

        <div class="card">
          <img
            src="{% static 'images/juann.jpg' %}"
            alt="Juan Carlos Ramirez T."
          />
          <h4>Juan C. Ramirez</h4>
          <p>{% trans "Maker y programador" %}</p>
        </div>
      </div>
    </section>
  </article>
</main>
{% endblock %} {% block scripts %} {% endblock %}
