<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Bookmotion Kids" />
    <title>Bookmotion Kids</title>
    <!-- Icon fonts -->
    <script
      src="https://kit.fontawesome.com/b834b65975.js"
      crossorigin="anonymous"
    ></script>
    <!-- Estilos -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estilos.css' %}"
    />
    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    {% block styles %} {% endblock %}
  </head>
  <body>
    <!--Cabecera -->
    <header class="header2">
      <div class="container">
        <div id="logo">
          <a href="{% url 'common:home' %}">
            <img
              src="{% static 'images/BOOKMOTION_ALTA.png' %}"
              alt="logotipo"
              width="271px"
            />
          </a>
        </div>
      </div>
    </header>

    <div class="sidenav">
      <br />
      <p>
        {% if perms.content.view_content %}
        <a href="{% url 'content:home' %}">Contenidos</a>
        {% endif %} {% if perms.diagnosis.view_diagnosis %}
        <a href="{% url 'diagnosis:home' %}">Diagnósticos</a>
        {% endif %} {% if perms.group.view_group %}
        <a href="{% url 'group:home' %}">Grupos</a>
        {% endif %} {% if perms.session.view_session %}
        <a href="{% url 'session:home' %}">Sesiones</a>
        {% endif %} {% if perms.student.view_student %}
        <a href="{% url 'student:home' %}">Estudiantes</a>
        {% endif %}
      </p>
      <p>
        <a href="{% url 'admin:index' %}">{{ request.user.username }}</a>
      </p>
      <p>
        <a href="{% url 'account:logout' %}">Salir</a>
      </p>
    </div>

    {% block content %} {% endblock %} {% block scripts %} {% endblock %}
    <script>
      setTimeout(function () {
        $(".alert").addClass("d-none");
      }, 7000);
    </script>
  </body>
</html>
